body {
    background-color: black;
}


#score {
    background-color: white;
    font-size: 100px;
    width: fit-content;
    margin: 50px;
}
#sound {
    background-color: white;
    font-size: 100px;
    width: fit-content;
    margin: 50px;
}

#player {    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1024px;
    height: 700px;
}
#bgCanvas {    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1024px;
    height: 700px;
}
#enemy {    
    border: 3px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1024px;
    height: 700px;
}
#shot {    
    border: 3px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1024px;
    height: 700px;
}