body {
    background-color: black;
}

#score {
    position: absolute;
    top: 20%;
    left: 50%;
    font-size: 150;
    size: 150;
    color: white;    
}

#player {    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1024px;
    height: 800px;
}
#bgCanvas {    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1024px;
    height: 700px;
}
#enemy {    
    border: 3px solid black;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 615px;
    width: 1024px;
}
#shot {    
    border: 3px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 800px;
    width: 1024px;
}